<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2023 Willink Transformations and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        E.D.Willink - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.ui.views">
      <view id="org.eclipse.ocl.examples.emf.validation.validity.ui.validity"
            name="ValidityView"
            icon="icons/validation.gif"
            category="org.eclipse.ocl.examples.ui.views"
            class="org.eclipse.ocl.examples.emf.validation.validity.ui.view.ValidityView"/>
   	</extension>
   	
	<!-- Show Validity View -->
	<extension point="org.eclipse.ui.handlers">
		<handler commandId="org.eclipse.ocl.examples.emf.validation.validity.ui.ShowValidityViewAction"
			class="org.eclipse.ocl.examples.emf.validation.validity.ui.actions.ShowValidityViewHandler"/>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="org.eclipse.ocl.examples.emf.validation.validity.ui.ShowValidityViewAction"
			description="%MF_ShowValidityView_tooltip"
			name="%MF_ShowValidityView_label">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<!-- Platform Issue 2483 raised for inability to use after show -->
		<menuContribution locationURI="popup:org.eclipse.ocl.examples.ui.Menu?after=load">
			<command commandId="org.eclipse.ocl.examples.emf.validation.validity.ui.ShowValidityViewAction"
         label="%MF_ShowValidityView_label"
         icon="icons/validation.gif"
         style="push"
         tooltip="%MF_ShowValidityView_tooltip">
				<visibleWhen checkEnabled="false">
					<test property="org.eclipse.ocl.examples.ui.resourceSetAvailable" forcePluginActivation="true"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
</plugin>
