<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/ocl/example/ecore2xtext/Ecore2Xtext"
			class = "org.eclipse.ocl.examples.ecore2xtext.ecore2Xtext.Ecore2XtextPackage"
			genModel = "model/generated/Ecore2Xtext.genmodel" />
	</extension>
</plugin>
