<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2023 Willink Transformations and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        E.D.Willink - initial API and implementation
 -->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.org.eclipse/ocl/examples/library/extlibrary.ecore/1.0.0"
            class="org.eclipse.ocl.examples.extlibrary.EXTLibraryPackage"
            genModel="model/extlibrary.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="org.eclipse.ocl.examples.extlibrary.extendedLibrary"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="extlibrary"
            id="org.eclipse.ocl.examples.extlibrary.extendedLibrary"
            name="%_UI_EXTLibrary_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.org.eclipse/ocl/examples/library/extlibrary.ecore/1.0.0"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="extlibrary" type="text" />
  </extension>
</plugin>
