<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page id="org.eclipse.ocl.pivot.ui.preferences.ProjectPreferencePage"
            category="org.eclipse.ocl.common.ui.preferences.ProjectPreferencePage"
            name="%MF_Pivot"
            class="org.eclipse.ocl.pivot.ui.internal.preferences.PivotProjectPreferencePage"/>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page id="org.eclipse.ocl.pivot.ui.properties.ProjectPropertyPage"
            category="org.eclipse.ocl.common.ui.properties.ProjectPropertyPage"
            name="%MF_Pivot"
            class="org.eclipse.ocl.pivot.ui.internal.preferences.PivotProjectPreferencePage">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
         <filter name="open" value="true"/>
      </page>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.edit.annotation_item_provider_adapter_factory">
      <factory uri="http://www.eclipse.org/emf/2002/Ecore/OCL"
            class="org.eclipse.ocl.pivot.ui.AnnotationItemProviderAdapterFactories$Ecore_OCL_Blank"/>
      <factory uri="http://www.eclipse.org/emf/2002/Ecore/OCL/Debug"
            class="org.eclipse.ocl.pivot.ui.AnnotationItemProviderAdapterFactories$Ecore_OCL_Debug"/>
      <factory uri="http://www.eclipse.org/emf/2002/Ecore/OCL/Pivot"
            class="org.eclipse.ocl.pivot.ui.AnnotationItemProviderAdapterFactories$Ecore_OCL_Pivot"/>
      <factory uri="http://www.eclipse.org/OCL/Collection"
            class="org.eclipse.ocl.pivot.ui.AnnotationItemProviderAdapterFactories$OCL_Collection"/>
      <factory uri="http://www.eclipse.org/OCL/Import"
            class="org.eclipse.ocl.pivot.ui.AnnotationItemProviderAdapterFactories$OCL_Import"/>
   </extension>
</plugin>
