<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2023 Willink Transformations and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        E.D.Willink - initial API and implementation
 -->

<plugin>

   <extension point="org.eclipse.ocl.emf.validation.validity.constraint_locator">
   		<locator metaclass="http://www.eclipse.org/ocl/2015/CompleteOCLCS"
   			class="org.eclipse.ocl.validity.locator.CompleteOCLCSUIConstraintLocator"/>
   		<locator metaclass="http://www.eclipse.org/ocl/2015/Pivot"
   			class="org.eclipse.ocl.validity.locator.PivotUIConstraintLocator"/>
   		<locator metaclass="http://www.eclipse.org/uml2/2.0.0/UML"
   			 class="org.eclipse.ocl.validity.locator.UMLUIConstraintLocator"/>
   		<locator metaclass="http://www.eclipse.org/uml2/3.0.0/UML"
   			 class="org.eclipse.ocl.validity.locator.UMLUIConstraintLocator"/>
   		<locator metaclass="http://www.eclipse.org/uml2/4.0.0/UML"
   			 class="org.eclipse.ocl.validity.locator.UMLUIConstraintLocator"/>
   		<locator metaclass="http://www.eclipse.org/uml2/5.0.0/UML"
   			 class="org.eclipse.ocl.validity.locator.UMLUIConstraintLocator"/>
   		<locator
   			 class="org.eclipse.ocl.validity.locator.DelegateUIConstraintLocator"/>
   </extension>

</plugin>
