<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2023 Willink Transformations and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        E.D.Willink - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BaseCS -->
      <package
            uri="http://www.eclipse.org/ocl/2015/BaseCS"
            class="org.eclipse.ocl.xtext.basecs.BaseCSPackage"
            genModel="model/BaseCS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated BaseCS -->
      <parser
            contentTypeIdentifier="org.eclipse.ocl.oclcs"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="oclcs"
            id="org.eclipse.ocl.oclcs"
            name="%_UI_Pivot_CS_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/ocl/2015/BaseCS"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="oclcs" type="text" />
  </extension>

   <extension point="org.eclipse.ocl.pivot.label_generator">
      <generator for="org.eclipse.ocl.xtext.basecs.NamedElementCS"
      	class="org.eclipse.ocl.xtext.base.utilities.NamedElementCSLabelGenerator"/>
   </extension>

</plugin>
